@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.book-panel {
  width: 100%;
  height: 170px;
  max-height: max-content;
  margin-bottom: 15px;
  padding: 32px 147px 26px 27px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.author {
  color: #4386bf;
}

.book-buttons {
  position: absolute;
  bottom: 26px;
}

.book-buttons button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #4386bf;
  font-size: 14px;
  height: 24px;
  font-family: 'Roboto Slab', serif;
  outline: none;
}

button.remove-btn {
  padding: 3px 17px;
  border-right: 2px solid #e8e8e8;
  border-left: 2px solid #e8e8e8;
  margin: 0 17px;
}

.middle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #e8e8e8;
}

.oval {
  width: 68px;
  height: 68px;
  border: none;
  background-image: conic-gradient(#379cf6 0 75%, #e8e8e8 0);
  color: #e8e8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oval div {
  width: 58px;
  height: 58px;
  background-color: white;
  border-radius: 50%;
  margin: 0;
}

.oval-aside {
  display: flex;
  flex-direction: column;
  margin-left: 21px;
}

.percentage {
  color: #121212;
  font-size: 32px;
}

.completed {
  opacity: 0.5;
  font-size: 14px;
}

.right {
  padding-left: 59px;
  display: flex;
  flex-direction: column;
}

.right-title {
  opacity: 0.5;
  font-size: 13px;
  font-weight: 300;
  color: #121212;
}

.chapter-btn {
  margin: 10px 0 23px;
}

button.update-btn {
  width: 184px;
  height: 33px;
  padding: 7px 19px 8px 22px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

button.update-btn:active {
  border: 1px solid #fff;
}
